
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes:wght@300;400;500;600;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}



/* TOP NAVIGATION BAR*/

body.sticky-nav .top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top-nav {
  background-color: #e4cbcb;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s;
}


.logo-navtitle {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  width: 30px; 
  height: 30px; 
  margin-right: 10px;

}

.navtitle {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000000;
}

.top-nav a.active {
   
  color: #fff; 
  border-bottom: 2px solid #fff; 
  box-shadow: 0px 2px 0px #000; 
}

.top-nav a:hover {
  color: #ffffff; 
  border-bottom: 2px solid #ffffff; 
  box-shadow: 0px 2px 0px #000;
  
}

.top-nav li:last-child {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer;
  border: 1px solid #000000; 
}

.top-nav li:last-child a {
  color: #000000;
  font-weight: bold; 
  text-shadow: none;;
}

.top-nav li:last-child:hover {
  background-color: #ffffff;
}


section {
  display: none; 
  width: 100vw; 
  height: 100vh; 
  background-color: #f7f7f7;
  border: none;
  box-shadow: none;
}


section.active {
   display: block;
}
/* END OF TOP NAVIGATION BAR*/





/*HOME*/
.intro-section {
  display: block; 
  position: relative;
  text-align: center;
  padding: 50px 20px;
  background: url('./image/homepage.webp') no-repeat center center;
  background-size: cover;
  color: #ffffff;
  height: 100vh; 
  border: none; 
}

/* Content box styling */
.content-box {
  position: absolute; 
  top: 100%; 
  left: 15%; 
  transform: translate(-25%, -50%); 
  background: rgb(255, 255, 255); 
  padding: 60px 40px;
  border-radius: 10px;
  width: 30%; 
  max-width: 500px;
  text-align: left; 
  border: none; 
}

.section-slogan {
  font-size: 1.2em;
  color: #333;
  margin: 0;
}

/* Slideshow for home page */
.slideshow-section {
  display: block;
  margin-top: 180px; 
  text-align: center; 
  background-color: #ffffff;
}

.slideshow-heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #000000; 
  font-family: 'Arial', sans-serif; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.slideshow-container {
  max-width: 700px; 
  position: relative;
  margin: auto;
  overflow: hidden; 
  border: 10px solid; 
  border-image-source: linear-gradient(45deg, #fcc6e1, #ffffff, #000000); 
  border-image-slice: 1; 
}

.slideshow-inner {
  overflow: hidden; 
  background-color: #ffffff; 
}

.mySlides {
  display: none; 
  position: relative; 
}

.slide-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #e4cbcb; 
}

/* Additional decorative styles */
.slideshow-container img {
  border-radius: 0; 
}

.dot-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  cursor: pointer; 
  border: 1px solid #e4cbcb; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.dot:hover {
  background-color: #e4cbcb;
}


/*features class*/
.features-section {
  display: block;
  padding: 60px;
  background-color: #ffffff;
  margin-top: 20px;


}

.features-section h2 {
  color: #000000; 
  font-family: 'Arial', sans-serif; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  text-align: center;
  margin-bottom: 20px;
}



.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  background-color: #ffffff;
  padding: 30px; 
  border-radius: 10px;
  margin: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
  width: 350px; 
  transition: transform 0.2s, box-shadow 0.2s;
}

.feature img {
  width: 100%;
  height: auto;
  max-height: 250px; 
  border-radius: 10px;
}

.feature h3 {
  color: #333;
  margin: 15px 0 10px;
  font-size: 1.5em; 
}

.feature p {
  color: #666;
  font-size: 1.1em; 
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}



/* Testimonial Section */
.testimonial-section {
  display: block;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
}

.testimonial-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.testimonial-section .motto {
  font-size: 2.5em;
  font-style: italic;
  margin-top: 30px;
  color: #000000;
}

.testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial {
  background: #f7f7f7;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  border: 5px solid;
  border-image-source: linear-gradient(45deg, #fcc6e1, #ffffff, #000000);
  border-image-slice: 1;
}

.testimonial p {
  font-size: 1.2em;
  color: #333;
}

.testimonial h3 {
  margin-top: 10px;
  font-size: 1em;
  color: #000000;
}

/* Footer */
.footer {
  background: #f1f1f1;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info h3,
.social-media h3 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.social-media a {
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}
/* END OF HOME*/





/*ABOUT US*/

/* Keyframes for the gradient animation */
@keyframes gradientHover {
  0% {
    border-image-source: linear-gradient(45deg, #ff69b4, #ffffff, #000000);
  }
  50% {
    border-image-source: linear-gradient(135deg, #ffffff, #000000, #ff69b4);
  }
  100% {
    border-image-source: linear-gradient(225deg, #000000, #ff69b4, #ffffff);
  }
}

/* Hotel Policies Section */
#hotel-policies {
  display: block;
  background-color: #ffffff;
  padding: 50px; 
  margin: 50px auto; 
  max-width: 1000px; 
  font-family: 'Arial', sans-serif;
  min-height: 230vh;
  border: 15px solid;
  border-image-slice: 1;
  border-width: 9px;
  border-image-source: linear-gradient(45deg, #f7c0dc, #ffffff, #000000);
  transition: border-image-source 0.5s ease;
}

#hotel-policies:hover {
  animation: gradientHover 2s infinite alternate;
}

#hotel-policies h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #000000;
}

#hotel-policies h3 {
  font-size: 1.5em;
  color: #000000;
  margin-top: 20px;
  border-bottom: 2px solid #ff69b4; 
  padding-bottom: 5px;
}

#hotel-policies p {
  font-size: 1em;
  line-height: 1.6;
  color: #000000;
  margin: 10px 0;
}

#hotel-policies p strong {
  color: #000000;
  font-weight: bold;
}

#hotel-policies a {
  color: #ff69b4; 
  text-decoration: none;
}

#hotel-policies a:hover {
  text-decoration: underline;
}

/* Hotel Amenities Section */
.amenities {
  display: block;
  background-color: #ffffff;
  padding: 50px 20px;
  text-align: center;
  margin: 50px auto; 
  font-family: 'Arial', sans-serif;
  max-width: 2000px; 
}

.amenities:hover {
  animation: gradientHover 2s infinite alternate;
}

.amenities h2 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.amenities-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 20px;
  flex-wrap: wrap;
}

.amenities-column {
  flex: 1;
  margin: 10px;
  padding: 30px;
  background: #fff;
  transition: transform 0.3s ease;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 9px;
  border-image-source: linear-gradient(45deg, #fcc6e1, #ffffff, #000000);
  transition: border-image-source 0.5s ease;
}

.amenities-column:hover {
  transform: translateY(-10px);
  animation: gradientHover 2s infinite alternate;
}

.amenities-column h3 {
  color: #000000;
  border-bottom: 2px solid #ff69b4;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.amenities-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.amenities-column ul li {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.amenities-column ul li:last-child {
  border-bottom: none;
}

.amenities-column ul li:hover {
  background-color: #f9f9f9;
  color: #333;
}

/*glims of room(room type)*/
.glimpse-of-rooms {
  display: block;
  padding: 50px 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 50px auto; 
  font-family: 'Arial', sans-serif;
  max-width: 2000px; 
}

.glimpse-of-rooms h2 {
  font-size: 2.5em;
  color: #000000;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.room-glimpse {
  display: flex;
  align-items: center;
  margin-bottom: 40px; 
  flex-wrap: wrap; 
  transition: transform 0.3s ease; 
}

.room-glimpse:nth-child(even) {
  flex-direction: row-reverse;
}



.room-photo {
  flex: 1;
  transition: transform 0.3s ease;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 9px;
  border-image-source: linear-gradient(45deg, #fcc6e1, #ffffff, #000000);
  transition: border-image-source 0.5s ease;
}

.room-photo img {
  width: 100%;
  height: auto;

}

.room-details {
  flex: 1;
  padding: 30px;
  margin: 10px;
  background: #fff;
  transition: transform 0.3s ease;
}

.room-glimpse:hover .room-photo {
  transform: translateY(-10px);
  animation: gradientHover 2s infinite alternate;
}

.room-glimpse:hover .room-details {
  transform: translateY(-10px);
}

.room-details h3 {
  color: #000000;
  border-bottom: 3px solid #ff69b4;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.room-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.room-details ul li {
  padding: 15px 0;
  border-bottom: 1px solid #dddddd;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.room-details ul li:last-child {
  border-bottom: none;
}

.room-details ul li:hover {
  background-color: #f9f9f9;
  color: #333;
}
/* END OF ABOUT US */





/*CONTACT US*/
.contact-container {
  height: 100vh; 
  width: 100%; 
  background-image: url('./image/pexels-enginakyurt-3638731.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  padding: 40px;
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: relative; 
  margin: 0 auto;
  box-sizing: border-box; 
}

/* Contact Info styling */
.contact-info {
  width: 100%; 
  max-width: 600px; 
  background-color: rgba(249, 249, 249, 0.9); 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: relative; 
}

.contact-info h1 {
  margin-bottom: 20px;
  border-bottom: 2px solid #e4cbcb; 
  padding-bottom: 10px;
  font-size: 26px; 
  color: #333; 
}

.contact-info h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; 
  padding-bottom: 5px;
  font-size: 20px; 
  color: #555; 
}

.contact-info p {
  margin-bottom: 15px; 
  line-height: 1.6; 
}

.contact-info strong {
  display: block;
  margin-bottom: 5px; 
  color: #333; 
}

/* Contact Form styling */
.contact-form {
  width: 100%; 
  max-width: 400px; 
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 25px;
  border: 1px solid #ddd; 
  border-radius: 12px; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  position: relative; 
}

.contact-form h1 {
  margin-bottom: 20px;
  border-bottom: 3px solid #e4cbcb; 
  padding-bottom: 10px;
  font-size: 22px; 
  color: #333; 
}

.contact-form label {
  display: block;
  margin-bottom: 12px; 
  color: #555; 
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 24px); 
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  border-radius: 6px; 
  font-size: 16px; 
  box-sizing: border-box; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #e4cbcb; 
  outline: none; 
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); 
}

.contact-form button {
  background-color: #e4cbcb; 
  color: #fff; 
  border: none;
  padding: 12px;
  border-radius: 6px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.contact-form button:hover {
  background-color: #d1a8a8; 
}

.contact-form button:active {
  background-color: #b88f8f; 
}
/*END OF CONTACT US*/






/*RESERVATION TAB IN TOP NAV */
.reservation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
  background: #ffffff;
}

.card {
  background: #fff;
  border: 2px solid #e4cbcb; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #e4cbcb;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #e4cbcb;
  box-shadow: 0 0 5px rgba(228, 203, 203, 0.5);
}

.form-actions {
  margin-top: 20px;
}

.form-actions button {
  background-color: #e4cbcb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.form-actions button:hover {
  background-color: #d1b0b0;
  transform: scale(1.05);
}

.form-actions button:active {
  background-color: #b89797;
  transform: scale(0.95);
}

/*END OF RESERVATION TAB IN TOP NAV*/







/* BOOK NOW */
.home-image {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
  margin: 0; 
  padding: 0; 
  position: relative; 
}

.home-image img {
  width: 100%; 
  height: 50%; 
  object-fit: cover; 
}

.slogan {
  position: absolute; 
  bottom: 80%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-family: 'Great Vibes', cursive;
  font-size: 36px; 
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  text-decoration: underline; 
  text-decoration-color: #ffcc00; 
  text-decoration-thickness: 5px; 
  text-underline-offset: 10px; 
}

.search-form {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95); 
  padding: 30px; 
  border-radius: 20px; 
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.search-form form {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.search-form .form-group {
  flex: 1 0 45%; 
  margin: 0 10px;
}

.search-form .form-group label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.search-form .form-group input[type="date"],
.search-form .form-group input[type="number"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 1rem;
}

.search-form .form-group button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease; 
}

.search-form .form-group button:hover {
  background-color: #0056b3; 
}


/* Style for select elements */
.search-form select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 5px;
}

/* Style for checkboxes */
.search-form input[type="checkbox"] {
  margin-right: 10px;
}

.search-form .form-group {
  margin-bottom: 10px; 
}


.search-form .form-group.checkbox-group {
  margin-bottom: 30px; 
}

/* END OF BOOK NOW*/






/* ROOM LISTING*/
.room-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.room {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.room-image-slider {
  position: relative;
  width: 50%; 
  height: 300px; 
  overflow: hidden;
  margin-right: 10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.room-image-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.tier-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.room-details {
  width: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.room-details h3 {
  margin-top: 0;
}

.room-details p {
  margin: 5px 0;
}

.dropdown {
  width: 100%;
  margin-top: 10px;
}

.dropdown-toggle {
  width: 100%;
  background-color: #aaa;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-content p {
  margin: 5px 0;
}

.dropdown-toggle:focus + .dropdown-content {
  display: block;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.price-per-night {
  font-size: 18px;
  color: #333;
  margin-bottom: 0;
}

.reserve-btn {
  padding: 10px 20px;
  background-color: #e4cbcb;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-btn:hover {
  background-color: #d4b4b4;
}

@media (min-width: 768px) {
  .room {
      width: 90%;
  }
}

@media (min-width: 1024px) {
  .room {
      width: 80%;
  }
}

/* END OF ROOM LISTING*/






/*RESERVATION FORM*/
.booking-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8; 
}

/* Styling for the form */
.booking-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

/* Styling for the form heading */
.booking-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Styling for the form rows */
.form-row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-row label {
  margin-bottom: 5px;
  color: #666;
}

/* Styling for the input fields */
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="date"],
.form-row input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="tel"]:focus,
.form-row input[type="date"]:focus,
.form-row input[type="number"]:focus {
  border-color: #e4cbcb;
  outline: none;
}

/* Styling for the radio group */
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  margin-right: 10px;
  color: #333;
  display: flex;
  align-items: center;
}

/* Styling for the submit button */
.reserve-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e4cbcb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.reserve-btn:hover {
  background-color: #d4b0b0;
}

/* Styling for the image */
.booking-form img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
}

/*pop-up message*/
.popup-message {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease-in-out;
}

.popup-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
  text-align: center;
  border: 2px solid #e4cbcb;
  animation: fadeIn 0.5s;
  line-height: 1.6;
  color: #000000;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #e4cbcb;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d1b3b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media print {
  body {
    color: #000000 !important;
    background: none !important;
  }
  .popup-content {
    color: #000000 !important;
  }
}

.popup-content p {
  margin-bottom: 1em; 
}

/*END OF RESERVATION FORM*/





















