
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes:wght@300;400;500;600;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}




.background-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.title {
  font-size: 150px; 
  font-family:'Alex Brush', cursive; 
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 100;

  
  
}



.subtitle {
  font-size: 35px; 
  font-family:'Alex Brush', cursive; 
 color: whitesmoke;
 text-shadow: 2px 2px 4px #000000;
 font-weight: 100;
 text-wrap:nowrap;
 

  
}

.title-container {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.title-container.scrolled {
  top: 30px;
  left: 10px;
  transform: none;
}

.subtitle-container {
  position: absolute;
  top: 95%; 
  left: 53%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.subtitle-container.scrolled {
  top: 50px; 
  left: 20px;
  transform: none;
}




/* Top nav */

body.sticky-nav .top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top-nav {
  background-color: #e4cbcb;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s;
}


.logo-navtitle {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  width: 30px; 
  height: 30px; 
  margin-right: 10px;

}

.navtitle {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0px #000000;
}

.top-nav a.active {
   
  color: #fff; 
  border-bottom: 2px solid #fff; 
  box-shadow: 0px 2px 0px #000; 
}

.top-nav a:hover {
  color: #ffffff; 
  border-bottom: 2px solid #ffffff; 
  box-shadow: 0px 2px 0px #000;
  
}

.top-nav li:last-child {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer;
  border: 1px solid #000000; 
}

.top-nav li:last-child a {
  color: #000000;
  font-weight: bold; 
  text-shadow: none;;
}

.top-nav li:last-child:hover {
  background-color: #ffffff;
}

section {
  display: none; 
  width: 100vw; 
  height: 100vh; 
  
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


section.active {
    display: block;
}



/*Home section*/



/* Book now */
.home-image {
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
  margin: 0; 
  padding: 0; 
  position: relative; 
}

.home-image img {
  width: 100%; 
  height: 50%; 
  object-fit: cover; 
}

.slogan {
  position: absolute; 
  bottom: 80%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-family: 'Great Vibes', cursive;
  font-size: 36px; 
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  text-decoration: underline; 
  text-decoration-color: #ffcc00; 
  text-decoration-thickness: 5px; 
  text-underline-offset: 10px; 
}


/*search bar*/
.search-form {
  position: absolute;
  top: 50%; /* Adjusted vertical positioning */
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95); /* Increased opacity for better visibility */
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 20px; /* Rounded corners */
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
}

.search-form form {
  display: flex;
  flex-wrap: wrap; /* Added flex-wrap for responsive layout */
  justify-content: space-between;
}

.search-form .form-group {
  flex: 1 0 45%; /* Two columns on larger screens */
  margin: 0 10px;
}

.search-form .form-group label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.search-form .form-group input[type="date"],
.search-form .form-group input[type="number"] {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 1rem;
}

.search-form .form-group button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease; 
}

.search-form .form-group button:hover {
  background-color: #0056b3; 
}


/* Search results specific styles */
#search-results {
  background-color: #f0f0f0;
  padding: 20px;
}

#room-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#room-list li {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

#room-list li:last-child {
  border-bottom: none;
}








/* Results Section Styles */

