table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#create-room-form {
    padding: 10px;
}

h2 {
    border-style: none none solid none;
    border-color: #2e2e2e;
}